<div class="columns">
  <div class="column is-one-third">
  </div>

  <form id="loginForm" method="post" action="/auth/login">

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Enter email" name="email">
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="password" placeholder="Enter password" name="password">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary">Submit</button>
      </div>
        <p>No account? Sign up <a href="./signup">here___</a></p>
      <p>Forgot password? Reset <a href="./resetpassword">here</a></p>
    </div>

  </form>

  <div class="column is-one-third">
  </div>
</div>
