<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-3">
    </div>
    <article class="tile is-child notification is-primary">

      <p><b>Stop Wasting Time with the Wrong People</b></p><br>
      <p>Dating apps today help us find matches based on looks and profile information. After swiping right, how do you know if you are truly suitable for each other?</p><br>
      <p><b>Rapidly Filter through your Matches</b></p><br>
      <p>MatchApp takes away the awkwardness of asking deeply personal questions on values and relationship expectations. Save time... and <i>heartbreak!</i></p><br>
      <figure class="image is-3by2">
        <img src="/img/couple_small.jpg">
      </figure>
    </article>
    <div class="tile is-3">
    </div>
  </div>
</div>
