<div class="content">
  <h1>Terms and Conditions</h1>
  <p>MatchApp is currently in beta mode. As such the code base may be unstable. Use the app at your own risk.</p>
  <h3>Legal</h3>
  <p>MatchApp is not responsible for any loss or damage arising from your use of the web application. By using the app, you release MatchApp from all liability and waive your rights to sue MatchApp or its personnel.</p>
</div>
