<div class="columns">
  <div class="column is-one-quarter">
  </div>

  <div class="column content">
    <div class="box">
      <h2>Answer your questions</h2>
      <p>While these are serious questions, mixing in a bit of personality helps to make it fun!</p> <p><small>Important: You must answer every question, otherwise will result in unseen error (to be fixed in next launch).</small></p>
    </div>
  <form class="" action="/user/quiz/qna/answer" method="post">
    {{#each questions as |question| }}
      {{!-- <div class="box">
        <div class="content">
          <p><strong>{{ question.category }}</strong>
          <br>
           {{ question.question }}
         </p>
     </div>
      </div> --}}
    <div class="outer-wrapper">
    <div class="wrapper">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{ question }}
            <input type="hidden" name="questions" value="{{ question }}">
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <input type="textarea" name="answers" class="textarea" placeholder="write your answer here">
          </div>
        </div>
      </div>
      <br>
    </div>
    </div>

    {{/each}}
    <input class="button is-primary" type="submit" name="" value="Submit">
  </form>
  </div>

  <div class="column is-one-quarter">
  </div>
</div>

<script type="text/javascript">
// enable deleting cards
    const cardFooters = document.querySelectorAll('.card-footer')
    for (var i = 0; i < cardFooters.length; i++) {
      cardFooters[i].addEventListener('click', deleteCard)
  }
  function deleteCard (event) {
    var parentDiv = event.target.parentElement.parentElement.parentElement.parentElement
    console.log(parentDiv)
    var childDiv = event.target.parentElement.parentElement.parentElement
    console.log(childDiv)
    parentDiv.removeChild(childDiv)
  }

  // send the remaining cards back to the app (backend)

</script>
