<div class="columns">
  <div class="column is-one-third">
  </div>

  {{ info }}
  {{ error }}

  <div class="column content">
    <div class="box">
      <h2>Welcome, {{ user.name }}!</h2>
      <p>What do you want to do?</p>
    </div>
    <a class="button is-primary" href='/user/results'>See previous results</a>
    <a class="button is-primary" href='/user/quiz/qna'>Start a new quiz now</a>
  </div>

  <div class="column is-one-third">
  </div>

</div>
