<div class="columns">
  <div class="column is-one-quarter">
  </div>

  <div class="column content">
  <form class="" action="/user/pisetdata" method="post">
    <input class="button is-primary" type="submit" name="" value="ClickMe">
  </form>
  </div>

  <div class="column is-one-quarter">
  </div>

</div>
