<div class="columns">
  <div class="column is-one-quarter">
  </div>

  <div class="column content">

    {{ info }}
    {{ error }}

    <div class="box">
      <h2>Here are some next steps</h2>
    </div>
    <a class="button is-warning is-medium" href='/user/results'>See your answers</a>
    <a class="button is-danger is-medium" href='/user/pisetdata'>Run answers through IBM Watson's linguistics analysis</a>
    <a class="button is-info is-medium" href='/user/token'>Share your token</a>
    <a class="button is-primary is-medium" href='/user/dashboard'>Back to dashboard</a>
  </div>

  <div class="column is-one-quarter">
  </div>

</div>
