<div class="columns">
  <div class="column is-one-quarter">
  </div>

  <div class="column content">

    {{ info }}
    {{ error }}

    <div class="box">
      <h2>This is your referral token: {{ token }}!</h2>
      <p>Share it with your dates to link your accounts when they sign up. Raw data will never be shared among users.</p>
    </div>
  </div>

  <div class="column is-one-quarter">
  </div>

</div>
